<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Content List</title>
</head>
<body>
<h1>Content List</h1>
<div id="content-list">
    <ul>
        <li th:each="content : ${contents}">
            <h2 th:text="${content.title}">Title</h2>
            <p th:text="${content.description}">Description</p>
            <div>
                <th:block th:each="image, iter : ${content.images}" th:if="${iter.index} &lt; 5">
                    <img th:src="${image.imageUrl}" alt="Content Image">
                </th:block>
            </div>
            <a th:href="@{/content/update/{id}(id=${content.contentId})}"><button>Update</button></a>
            <a th:href="@{/content/delete(id=${content.contentId})}"><button>Delete</button></a>
        </li>
    </ul>
</div>
<a href="/">Back to Home</a>
</body>
</html>
